@media screen and (max-width: 800px) {
    .app{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-bottom: 30px;
        height: unset;
        min-height: 100vh;
        .calendar-around{
            width: 400px;
            padding: 0;
            .calendar{
                background: white;
                margin: 30px 0 10px;
                max-width: 400px;
                height: unset;
                .custom-toolbar{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    margin: unset;
                    width: 100%;
                    .btn-nav{
                        border: unset;
                        font-size: 12px;
                    }
                    &_label{
                        font-size: 16px;
                    }
                }
                .rbc-event, .rbc-show-more {
                    display: none;
                }
                .rbc-month-view .rbc-row, 
                .rbc-month-view .rbc-month-row,
                .rbc-day-bg,
                .rbc-day-bg:last-child{
                height: 30px;
                border: none;
                background-color: unset !important;

                }
                .rbc-row{
                    justify-content: space-evenly;
                    .rbc-date-cell{
                        flex: 0 1 30px;
                    }
                }
                .rbc-month-row{
                    flex: 0 1 30px;
                    height: 30px;
                }
                .cell-date{
                    width: 30px;
                    height: 30px;
                }
                .rbc-month-view{
                    margin-bottom: 20px;
                    border: none;
                }
                .rbc-month-view .rbc-row {
                    height: 30px;
                    border: none;
                }
                .rbc-month-view .rbc-month-row .rbc-day-bg {
                    height: 30px;
                }
                .rbc-day-bg {
                    width: 30px;
                    max-width: 30px;
                }
                .rbc-month-header{
                    justify-content: space-evenly;
                    margin-top: 10px;
                }
                .rbc-header{
                    flex: 0 1 30px;
                    border: none;
                    font-size: 10px !important;
                }
            }
        }
        .list-event-container{
            margin-top: 10px;
            width: 400px;
            .list-event{
                width: 400px;
                &_title{
                    font-size: 18px;
                }
                &_selectday{
                    margin: 8px 0;
                    font-size: 14px;
                }
                &_des{
                    &_item{
                        .item-header{
                            .title{
                                font-size: 12px;
                                margin-bottom: 6px;
                            }
                            .time{
                                font-size: 10px;
                            }
                        }
                        .item-client{
                            a{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .detail-event-container{
            margin-top: 20px;
            width: 400px;
            .detail-event{
                background: white;
                padding: 20px 20px;
                width: 400px;
                &_avatar{
                    width: 120px;
                    aspect-ratio: 1;
                    border-radius: 100%;
                    margin: 20px auto;
                }
                &_title{
                    font-size: 18px;
                }
                &_date, &_location, &_about{
                    font-size: 12px;
                }
                &_btn{
                    .btn{
                        font-size: 12px;
                    }
                }
            }
        }
        .modal-around{
            .add-event-modal{
                width: 400px;
                gap: 10px;

                &_time{
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    gap: 5px;
                    .label-end{
                        margin: 0;
                    }
                }
                input, textarea{
                    padding: 10px 16px;
                    border: 2px solid #0F4C81;
                    border-radius: 6px;
                    width: 100%;
                    &[type=text]{
                        margin-top: 0;
                    }
                    &:focus, &:active{
                        outline: none;
                        box-shadow: none;
                    }
                }
                textarea{
                    margin-top: 0;
                    height: 80px;
                }
            }
        }
    }
}